<table class="table">
    <thead>
        <tr>
            <th>Oyun</th>
            <th>Tarih</th>
            <th>Fiyat</th>
            <th>Sıra</th>
            <th>Koltuk</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Purchases)
        {
            <tr>
                <td>@p.Ticket.PlayName</td>
                <td>@p.Ticket.Date.ToString("dd.MM.yyyy")</td>
                <td>@p.Ticket.Price TL</td>

                <td>@((char)('A' + (p.Seat.RowNumber - 1)))</td>
                <td>@p.Seat.SeatNumber</td>
            </tr>
        }
    </tbody>
</table>
